body {
  font-family: "Jost", sans-serif;
}

/* Apply styles to the navbar links */
.NavBar a {
  font-size: 1vw;
  text-decoration: none;
  color: white;
}

/* Add hover effect to navbar links */
.nav a:hover {
  text-decoration: underline;
  color: #B0B0B0;
}

/* Apply styles to navbar container */
.nav {
  display: flex;
  justify-content: space-between;
  width: 22vw;
  list-style: none;
  align-items: center;
  z-index: 999;
  margin-right: 1vw;
}


/* Apply styles to header */
.header {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  background-color: black;
}

/* Add transition effect to the logo */
.header-logo {
  transition: transform 0.2s ease;
  height: 100%;
}

/* Apply hover effect to the logo */
.header-logo:hover {
  transform: scale(1.1);
}





/* Container to position the dropdown menu */
.Menu {
  position: relative;
  display: inline-block;
}

/* Adding animation to dropdown menu */
.menu-content {
  display: none;
  position: absolute;
  background-color: #636262;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0vw;
  animation: slide-down 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  transform-origin: top center;
  transform: scaleY(0);
}

/* Defining the animation */
@keyframes slide-down {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }

  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

/* Buttons/links inside the dropdown menu */
.menu-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

/* Hover effect for buttons in dropdown menu */
.menu-content a:hover {
  text-decoration: underline;
  background-color: grey;
  border-radius: 20px;
}

/* Show the dropdown menu on hover */
.Menu:hover .menu-content {
  display: block;
}


.center {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container {
  height: 45vh;
  width: 22.5vw;
  border-radius: 10px;
  background-color: #313131;
  color: white;
  overflow: hidden;
  display: flex;
}

.display-flex {
  display: flex;
}

.columns {
  flex-direction: column;
}

#tabs {
  justify-content: space-evenly;
  position: relative;
}

#undertab {
  height: 2%;
  width: 50%;
  position: absolute;
  background: white;
  bottom: 0;
  right: 0;
}

#tabs h3:hover {
  cursor: pointer;
}

.login,
.signup {
  align-items: center;
  text-align: center;
  width: 100%;
  top: 2vh;
}

.login {
  transform: translateX(-90%);
}

.form-section {
  position: relative;
}



input {
  padding: 10px 10px;
  margin: 10px;
  border: none;
  border-bottom: 1px solid #333;
}

.login,
.signup {
  position: absolute;
  transition: 0.5s ease;
}

.login-button p {
  width: 100%;
}

.signup-button {
  transform: translateX(+);
}



.login-signup-button {
  padding: 10px 45px;
  border-radius: 25px;
  margin: 10px 0;
  text-transform: uppercase;
  border: none;
  background: blue;
  color: white;
}

.login-signup-button:hover {
  background-color: #434aff;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
button:hover {
  cursor: pointer;
}

.form-logo{
  width: 5vw;
  height: auto;
}